.ab{
    
    display: flex;
  justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 110px;
    
}
.card{
    width: 400px;
    height: auto;
    background: transparent;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 40px;
    border: 0px solid rgb(104, 91, 103); 
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(82, 82, 82);
    backdrop-filter: blur(20px);
}
.btn{
  background-color: #330a6a;
  color: #fff;
  border: none;
    border-radius: 30px;
}

.btn:hover {
  background-color:#00b383;

}