.ab{
    padding-top: 120px;
    padding-bottom: 20px;
    
}
.blog-post-form {
    width: 50%; 
    margin: auto;
    box-shadow: 0 0 20px rgb(82, 82, 82);
    
}

.blog-post-form {
    width: 40%; 
    margin: auto;
    border: 0px solid rgb(104, 91, 103); 
    border-radius: 20px;
    padding: 20px; 
    background: transparent;
    backdrop-filter: blur(20px);
    min-height: 200px;
    padding-bottom: 20px;
    color: rgb(141, 128, 141);
   
  padding: 30px;
 
  margin-top: 50px;
  margin-bottom: 50px;
 
}



.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="url"],
input[type="date"],
textarea {
    width: calc(60% - 10px); 
    padding: 5px;
    font-size: 14px;
    border: 0px;
}

button {
    padding: 8px 20px;
    background-color: #330a6a;
    margin-right: 10px;
    color: #fff;
  border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 130px;
}
button:hover {
    background-color:#00b383;
  }
  
.form-actions {
    margin-top: 20px;
}
