<div class="a" style="background-image: url(./assets/img2.png);">
<div class="container" style="width:auto; margin: auto; ">

    <h1><b><i></i></b></h1>
    <br>
    <ng-container *ngFor="let data of Data">

        <div class="news-container">

            <div class="news-card" >

                <div class="img">

                    <img [src]="data.url" style="width:70%; height:230px; border-radius: 20px; ">

                </div>

                <div class="card-body">

                <p class="card-text1"><b> {{data.title}}</b></p>

                <p class="card-text">Author:   {{data.author}}</p>

                </div>

                <div class="news-buttons">

                    <button class="btn btn-read" routerLink='/comment/{{data.id}}'>Add Comment</button>

                    <button class="btn btn-detail" routerLink = '/detail/{{data.id}}'>Details</button>

                </div>

            </div>

        </div>  

    </ng-container>

</div>
</div>